name: Deploy API to Azure App Service

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore ./src/Presentation/Presentation.csproj

    - name: Build
      run: dotnet build ./src/Presentation/Presentation.csproj --no-restore --configuration Release

    - name: Publish
      run: dotnet publish ./src/Presentation/Presentation.csproj -c Release -o ./publish

    - name: Deploy to Azure WebApp (Zip Deploy)
      uses: azure/webapps-deploy@v3
      with:
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish
        type: zip
